.amenities1{
    margin-top: 40px;
    width: 100%;
    flex-direction: column;
    display: flex;
    padding: 20px;
    text-align: left;
    /* justify-content: left; */
}

.amenities1 h2{
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
}

.amenities1 ul li{
    list-style: none;
    text-align: left;
    height: 40px;
    width: 40px;
    position: relative;
    padding-top: 0px;
}

.tv:before{
    content: " ";
    background-image: url("../images/icon_tv.png");
    background-size:  contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: -40px;
}

.wifi:before{
    content: " ";
    background-image: url("../images/icon_wifi.png");
    background-size:  contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: -40px;
}

.pet:before{
    content: " ";
     background-image: url("../images/icon_pets.png");
    background-size:  contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: -40px;
}

.reviews{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    text-align: left;
}

.reviews ul{
    list-style: none;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 0%;
}

.reviews ul li{
    list-style: none;
    text-align: left;
    padding: 0%;
}
