footer {
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    border-top: 1px #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 0 auto;
}