header {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    align-items: center;
    display: flex;

}

header a{
    background-image: url("../images/logo.png");
    display: block;
    width: 142;
    height: 60;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-position: center;

}